.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  background-color: #282c34;  
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
